---
permalink: /partyspiele/
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>Trinkspiele – umgezogen | Dare Pong</title>
  <meta name="robots" content="noindex, follow">
  <link rel="canonical" href="{{ site.url }}/trinkspiele/">
  <meta http-equiv="refresh" content="0; url={{ '/trinkspiele/' | url }}">
  <script>location.replace("{{ '/trinkspiele/' | url }}");</script>
</head>
<body>
  <p>Diese Seite ist umgezogen. Weiter zu den <a href="{{ '/trinkspiele/' | url }}">Trinkspielen</a>.</p>
</body>
</html>
