---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all %}
  {%- if not (page.data.robots and "noindex" in page.data.robots) %}
  <url>
    <loc>{{ site.url }}{{ page.url }}</loc>
    {%- set lastmod = page.data.updated or page.date %}
    {%- if lastmod %}
    <lastmod>{{ lastmod | dateISO }}</lastmod>
    {%- endif %}
    {%- if page.url == "/" %}
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
    {%- elif page.url == "/blog/" %}
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
    {%- else %}
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
    {%- endif %}
  </url>
  {%- endif %}
  {%- endfor %}
</urlset>
